*{
  margin: 0;
  padding: 0;
}

.logo{

 width: 20%;
 display: flex;
 justify-content: center;
 align-items: center;

}

.logo img{
  width: 120%;
  border: 3px solid grey;
  border-radius: 50px;
}

.navbar{
display: flex;
align-items: center;
justify-content: center;
position: sticky;
top: 0;

}
.nav-list{
width: 50%;
align-items: center;
display: flex;


}

.nav-list li{
 list-style: none;
 padding: 10px 20px;
}


.nav-list li a{

  text-decoration: none;
  color: white;

}

.nav-list li a:hover{
  color: tan;
}

.rightNav{
width: 50%;
text-align: right;
padding: 0 23px;
}


#search{
 padding: 3px;
 font-size: 10px;
 

}

.background{
  background: rgba(0, 0, 0, 0.7)url('../img/bg.jpg');
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection{
  height: 100vh;
}
.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: auto;
  height: 80%;
 
}

.firstHalf{
width: 75%;
display: flex;
flex-direction: column;
justify-content: center;

}

.secondHalf{

  width: 30%;
}

.secondHalf img{

  width: 150%;
  padding: 3px 0;
  border: 4px solid white;
  border-radius: 200px;

}

.text-big{
font-size: 40px;

}

.text-small{
font-size: 25px;

}

.btn{
  padding: 4px 10px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px ;
  background: none;
  color: aliceblue;
  cursor: pointer;
}